@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;


body {
  font-family: 'Roboto', sans-serif;
}

@keyframes meterColor {
  0% {
    color: #62F032; 
  }
  50% {
    color: #FFC107;
  }
  80% {
    color: #FF8C00; 
  }
  100% {
    color: #EB3845; 
  }
}


.slideInUp {
  -webkit-animation-name: slideInUp;
  animation-name: slideInUp;
  -webkit-animation-duration: 0.5s; 
  animation-duration: 0.5s; 
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
  animation-timing-function: ease-out;
}

@keyframes slideInUp {
  0% {
    transform: translateY(100%); 
    visibility: hidden; 
  }
  100% {
    transform: translateY(0); 
    visibility: visible; 
  }
}

@-webkit-keyframes slideInUp {
  0% {
    -webkit-transform: translateY(100%);
    transform: translateY(100%);
    visibility: hidden;
  }
  100% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
    visibility: visible;
  }
}
